@()(implicit req: Request[AnyContent])
@main {
    <div class="jumbotron">
        <h1>Make a new GitHub repo!</h1>
        <p><i>We aim to be open by default</i></p>
        <p>This instance of Repo Genesis is for <i>@lib.Bot.orgUser.displayName's</i> GitHub organisation -
            if you're a member, <a><button class="btn btn-primary input-lg">Get started!</button></a></p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>What is <i>Repo Genesis?</i></h3>
            <p>It lets you make repos in your organisation - even if you're not the owner.</p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
}