@(repoCreationSettings: Form[controllers.Application.RepoCreation],
        userTeams: Seq[controllers.Application.Team],
        allowedToCreatePrivateRepos: Boolean,
        teamsAllowedToCreatePrivateRepos: Set[lib.scalagithub.Team])(implicit req: Request[AnyContent], messages: Messages)

@import views.html.helper.CSRF
@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

@main {

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        @b3.form(routes.Application.createRepo) {
            @CSRF.formField

            @b3.inputWrapped(
                "text",
                repoCreationSettings("name"),
                '_label -> "Repository name",
                'maxlength -> "100",
                'required -> true,
                'pattern -> "^[A-Za-z0-9_-]+$",
                'autofocus -> true) { input =>
                <div class="input-group" >
                    <span class="input-group-addon">
                        <img src="@lib.Bot.orgUser.getAvatarUrl&s=40" width="20" height="20" class="img-rounded"> @lib.Bot.org /</span>
                    @input
                </div>
            }


            <div class="form-group">
                <label for="teamId" class="control-label">
                    <span class="octicon octicon-jersey"></span>
                    GitHub team <small class="text-muted">…will be given Admin rights on your new repository!</small>
                </label>
                <select id="teamId" name="teamId" class="form-control">
                @for(t <- userTeams) {
                    <option value="@t.id" data-team-size="@t.size" data-team-name="@t.name" >@t.name (@t.size members)</option>
                }
                </select>
            </div>

            <script>
            $(document).ready(function() {
                function format(team) {
                    var t = $(team.element);
                    return "<strong>" + t.data('team-name') + "</strong> <small>(" + t.data('team-size') + " members)</small>";
                }

                $("#teamId").select2({
                    formatResult: format,
                    formatSelection: format,
                    escapeMarkup: function(m) { return m; },
                    matcher: function(term, text, opt) {
                       return opt.data('team-name').toUpperCase().indexOf(term.toUpperCase())>=0;
                    }
                });
            });
            </script>

            <div class="form-group  ">
                <button type="submit" class="btn btn-primary btn-lg" value="createPublic">
                    <span class="octicon octicon-repo"></span> Create public repository
                </button>
                @if(allowedToCreatePrivateRepos) {
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#privateRepoModal">
                        <span class="octicon octicon-lock"></span> Create private repository
                    </button>
                }
            </div>

            <div class="modal fade" id="privateRepoModal" tabindex="-1" role="dialog" aria-labelledby="privateRepoModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="privateRepoModalLabel">We aim to be open by default...</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Open repositories encourage better security practices - do
                                you really need a private repo?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" value="true" name="private">
                                Yup, I need a private repo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
            <!--
               These teams can create private repos: @teamsAllowedToCreatePrivateRepos.map(_.atSlug).mkString(", ")
            -->
        </div>

        <div class="col-md-3"></div>
    </div>
}