@(repoCreationSettings: Form[controllers.Application.RepoCreation], userTeams: Seq[org.kohsuke.github.GHTeam])(implicit req: Request[AnyContent], messages: Messages)

@import views.html.helper.CSRF
@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

@main {

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        @b3.form(routes.Application.createPublicRepo()) {
            @CSRF.formField

            @b3.inputWrapped("text", repoCreationSettings("name"), '_label -> "Repo Name", 'maxlength -> "40") { input =>
                <div class="input-group" >
                    <span class="input-group-addon">@lib.Bot.org/</span>
                    @input
                </div>
            }

            @b3.select(
                repoCreationSettings("teamId"),
                options = userTeams.map(t => t.getId.toString -> s"${t.getName} (${t.listMembers().size} members)"),
                '_label -> "Team for initial Admin rights"
            )

            @b3.submit('class -> s"btn btn-primary btn-lg") {
                Create public repository
            }
        }
        </div>

        <div class="col-md-3"></div>
    </div>
}